@using SquishIt.Framework
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>We Got Products AB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
        .sidebar-nav {
            padding: 9px 0;
        }
    </style>
      @MvcHtmlString.Create(Bundle.Css()
        .Add("~/Static/bootstrap/css/bootstrap-responsive.css")
        .Add("~/Static/bootstrap/css/bootstrap.css")
        .Add("~/Static/custom.css")
        .Render("~/Static/combined_#.css"))


    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="bootstrap/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="bootstrap/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="bootstrap/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="bootstrap/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="bootstrap/ico/apple-touch-icon-57-precomposed.png">
  </head>

  <body>

  <div class="container-fluid shopping-cart-wrapper">

    <div class="span9">
      <div class="well well-small span4 pull-right">
        <span>5 products at a total of 500,0 kr</span>
        <a href="#myModal" class="btn btn-mini btn-success pull-right" data-toggle="modal">Check out</a>
      </div>
    </div>
  </div>

    
        


    <div class="container-fluid store-menu">
      <div class="span9">
        <h1>We got products AB</h1>
        <div class="btn-group">
          <button class="btn btn-info">All products</button>
          <button class="btn">Tag #1</button>
          <button class="btn">Tag #2</button>
          <button class="btn">Tag #3</button>
        </div>
      </div>

    </div>

  
  <div class="modal hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="myModalLabel">Check out</h3>
    </div>
    <div class="modal-body shopping-cart-body">
      <ul>
        <li>Product #1 <a href="" class="btn btn-danger btn-mini">Delete</a></li>
        <li>Product #5 <a href="" class="btn btn-danger btn-mini">Delete</a></li>
        <li>Product #6 <a href="" class="btn btn-danger btn-mini">Delete</a></li>
        <li>Product #5 <a href="" class="btn btn-danger btn-mini">Delete</a></li>
        <li>Product #6 <a href="" class="btn btn-danger btn-mini">Delete</a></li>
      </ul>
      <div>Total: <span>500,0 kr</span></div>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
      <button class="btn btn-success">Finish</button>
    </div>
  </div>

    <div class="container-fluid">
      <div class="row-fluid">

        </div><!--/span-->
        <div class="span9">
            
          <div class="row-fluid">
            <div class="span4">
              <div class="thumbnail">
                  <img src="http://lorempixel.com/300/200/nature/1/" alt="">
                  <div class="caption">
                    <ul class="clean-tag-list">
                      <li><a href="#">Tag #1</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #2</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #3</a></li>
                    </ul>

                    <div class="price-holder">
                        <h3 class="pull-left">Product #1</h3>                    
                      
                        <span class="price pull-right">100,0 kr</span>
                      </div>
                      <div class="add-to-cart-wrapper">
                       <a class="btn btn-mini btn-success pull-right" href="#">Add to cart</a>
                      </div> 
                    
                  </div>
                </div>
            </div><!--/span-->
            <div class="span4">
              <div class="thumbnail">
                  <img src="http://lorempixel.com/300/200/nature/2/" alt="">
                  <div class="caption">
                    <ul class="clean-tag-list">
                      <li><a href="#">Tag #1</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #3</a></li>
                    </ul>

                    <div class="price-holder">
                        <h3 class="pull-left">Product #2</h3>                    
                      
                        <span class="price pull-right">100,0 kr</span>
                      </div>
                      <div class="add-to-cart-wrapper">
                       <a class="btn btn-mini btn-success pull-right" href="#">Add to cart</a>
                      </div> 
                    
                  </div>
                </div>
              
            </div><!--/span-->
            <div class="span4">
              <div class="thumbnail">
                  <img src="http://lorempixel.com/300/200/nature/3/" alt="">
                  <div class="caption">
                    <ul class="clean-tag-list">
                      <li><a href="#">Tag #1</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #2</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #3</a></li>
                    </ul>

                    <div class="price-holder">
                        <h3 class="pull-left">Product #3</h3>                    
                      
                        <span class="price pull-right">100,0 kr</span>
                      </div>
                      <div class="add-to-cart-wrapper">
                       <a class="btn btn-mini btn-success pull-right" href="#">Add to cart</a>
                      </div> 
                    
                  </div>
                </div>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <div class="thumbnail">
                  <img src="http://lorempixel.com/300/200/nature/4/" alt="">
                  <div class="caption">
                    <ul class="clean-tag-list">
                      <li><a href="#">Tag #1</a> <span class="divider">/</span></li>                     
                      <li><a href="#">Tag #3</a></li>
                    </ul>

                    <div class="price-holder">
                        <h3 class="pull-left">Product #4</h3>                    
                      
                        <span class="price pull-right">100,0 kr</span>
                      </div>
                      <div class="add-to-cart-wrapper">
                       <a class="btn btn-mini btn-success pull-right" href="#">Add to cart</a>
                      </div> 
                    
                  </div>
                </div>
            </div><!--/span-->
            <div class="span4">
              <div class="thumbnail">
                  <img src="http://lorempixel.com/300/200/nature/5/" alt="">
                  <div class="caption">
                    <ul class="clean-tag-list">
                      <li><a href="#">Tag #3</a></li>
                    </ul>

                    <div class="price-holder">
                        <h3 class="pull-left">Product #5</h3>                    
                      
                        <span class="price pull-right">100,0 kr</span>
                      </div>
                      <div class="add-to-cart-wrapper">
                       <a class="btn btn-mini btn-success pull-right" href="#">Add to cart</a>
                      </div> 
                    
                  </div>
                </div>
            </div><!--/span-->
            <div class="span4">
              <div class="thumbnail">
                  <img src="http://lorempixel.com/300/200/nature/6/" alt="">
                  <div class="caption">
                    <ul class="clean-tag-list">
                      <li><a href="#">Tag #1</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #2</a> <span class="divider">/</span></li>
                      <li><a href="#">Tag #3</a></li>
                    </ul>

                    <div class="price-holder">
                        <h3 class="pull-left">Product #6</h3>                    
                      
                        <span class="price pull-right">100,0 kr</span>
                      </div>
                      <div class="add-to-cart-wrapper">
                       <a class="btn btn-mini btn-success pull-right" href="#">Add to cart</a>
                      </div> 
                    
                  </div>
                </div>
            </div><!--/span-->

          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; We got products AB</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
      
     @MvcHtmlString.Create(Bundle.JavaScript()
        .Add("~/Static/bootstrap/js/jquery-1.8.0.min.js")
        .Add("~/Static/bootstrap/js/bootstrap.min.js")
        .Add("~/Static/application.js")
        .Render("~/Static/combined_#.js"))
  </body>
</html>

